useDynLib(nlmixr)
importFrom(Rcpp, evalCpp)
importFrom(brew, brew)
importFrom(lattice, xyplot)
importFrom(lattice, trellis.par.get)
importFrom(nlme, nlme)
importFrom(nlme, groupedData)
importFrom(nlme, getData)
#importFrom(nloptr, lbfgs)
import(RxODE)
importFrom("graphics", "abline", "lines", "matplot", "plot", "points", "title")
importFrom("stats", "as.formula", "nlminb", "optimHess", "rnorm", "terms")
importFrom(parallel, mclapply)
importFrom(lbfgs, lbfgs)


export(nlme_lin_cmpt)
export(nlme_ode)
export(nlme_gof)
export(vpc)
export(dynmodel)
export(dynmodel.mcmc)
export(print.dyn.ID)
export(summary.dyn.ID)
export(plot.dyn.ID)
export(bootdata)
export(frwd_selection)
export(print.dyn.mcmc)
export(summary.dyn.mcmc)
export(plot.dyn.mcmc)
export(nmsimplex)
export(gauss.quad)

export(RxODE)
export(eventTable)
export(mclapply)

export(gnlmm)
export(print.gnlmm.fit)


S3method(print, dyn.ID)
S3method(summary, dyn.ID)
S3method(plot, dyn.ID)
